*{
  font-family: 'Roboto',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(https://lolstatic-a.akamaihd.net/rso-authenticator-ui/0.79.5/assets/riot_desktop_background_2x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
