
<div class="shopping-container">

  <div class="shopping-description">

    <ul>
      <li class="item-01">   Olá, eu sou o Dan-Bot e vou te ajudar.</li>
      <li class="item-02"> ● Instruções </li>
      <li class="item-03"> - Insira o nome do item no input depois aperte em adicionar.</li>
      <li class="item-04"> - Se errar ou quiser excluir algum item é simples, aperte no X vermelho.</li>
      <li class="item-05"> - Marque a caixinha a esquerda para sinalizar oque ja foi pego.</li>
      <li class="item-06"> - Não esqueça de botar o valor de cada produto!</li>
      <li class="item-07"> Vamos Começar!</li>
    </ul>
  </div>
    </div>
  <app-dinamic-add></app-dinamic-add>





