
.description-container{
  display: flex;
  justify-content: center;
}
.description-container p{
  margin-top: 5rem;
  padding: .5rem;
  padding-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  width: 550px;
  text-align: center;
  background: #f1f2f454;;
  border: 5px solid #B1B5B6;
  border-radius: 9px;
}
.description-span{
  font-size: 2.2rem;
}
