<div class="menu-bar-container">
  <ul class="menu-bar-main">
    <li class="item" class="item-1"><a href="https://www.linkedin.com/in/carloos-daniel-48bb0b325" target="_blank">Linkedin</a></li>
    <li class="item" class="item-2"><a href="https://www.instagram.com/c.daniel_hms/?next=%2F" target="_blank">instagram</a></li>
    <li class="item" class="item-3"><a href="https://github.com/danHamash" target="_blank">Github</a></li>
    <li *ngIf="!isHomePage()"  routerLink="/" class="item" class="item-4"><a>Home</a></li>
  </ul>
</div>

